.spacer {
  flex: 1 1 auto; /* Esto empuja el botón de logout a la derecha */
}

.dashboard-container {
    padding: 200px; /* Margen interior para el contenido de la página */
    /* El ancho del 100% se aplica automáticamente */
}

/* Estilos de Material para que los campos de formulario ocupen el 100% */
mat-form-field {
    width: 100%;
}

/* Margen superior para las tarjetas y separadores */
.mt-4 {
    margin-top: 20px;
}

/* Estiliza los botones de acción en línea */
button[mat-raised-button], button[mat-button] {
    margin-right: 10px;
}

/* La tarjeta del dashboard no debe ser demasiado ancha */
mat-card {
    max-width: 800px;
}

/* Estilizado del formulario de edición para distinguirlo */
.edit-form-container {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}