/*
 * Estilos Globales para centrar nuestros formularios
 */
html, body {
  height: 100%; /* Asegura que el body ocupe toda la altura */
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; /* Tipografía de Material */
}

/* centrar contenido */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% de la altura de la pantalla */
  background-color: #f5f5f5; /* Un fondo gris claro */
}

/* Estilos para nuestras tarjetas de formulario */
.login-card, .register-card { /* Le daremos esta clase al de registro también */
  width: 100%;
  max-width: 400px; /* Ancho máximo */
}

/* Espacio entre los campos del formulario */
mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

button[mat-raised-button] {
  width: 100%;
}